@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 
  color-scheme: light dark;
  color: rgba(155, 144, 144, 0.87);
  background-color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Silk Serif';
  src: url('./silk-serif/Silk Serif Regular.otf') format('opentype'),
  url('./silk-serif/Silk Serif Light Italic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  }
  
  .font-silk-serif {
  font-family: 'Silk Serif', serif; /* Use 'Silk Serif' here */
  }



@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}


.main-index-card {
  width: calc(100% / 2 - 1rem);
 
  
  
}

@media (min-width: 375px) {
  .main-index-card-sm {
    
    width: calc(70% / 1 - 0.010rem);
    display: flex;
    flex-direction: column;
    margin: 1cqb;
    

   
    
  }
}
@media (max-width: 767px) {
  .direction-aware-hover {
    width: 40dvh;
    height: 15rem;
   margin-left: auto;
   margin-right: auto;
   
 
      
  }
}
@media (max-width: 767px) {
  .direction-card {
    height: 17rem;
    width: 40dvh;
    
  }
}



 /* this is the text below the line effect according to mobile  */
@media screen and (max-width: 640px) {
  .mtmb {
    margin-top: 2rem; /* Adjust as needed */
  }
}
@media screen and (max-width: 375px) {
  .mtmbsm {
    margin-top: 10rem; /* Adjust as needed */
  }
}
@media screen and (max-width: 430px) {
  .mtmbsmt {
    margin-top: 1rem; /* Adjust as needed */
  }
}

@media screen and (max-width: 425px) {
  .mttext {
    transform: translateY(-10rem); 
   /* Adjust as needed */
  }

}
@media screen and (max-width: 375px) {
  .mttextsm {
    transform: translateY(-2rem); 
   /* Adjust as needed */
  }

}
@media screen and (max-width: 430px) {
  .mttextip {
    transform: translateY(-9rem); 
   /* Adjust as needed */
  }

}

@font-face {
  font-family: 'Work Sans';
  src: url('./fonts/WorkSans-VariableFont_wght.ttf') format('truetype'),
       url('./fonts/static/WorkSans-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.body-text {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: rgb(88, 87, 85);
  font-size: 14px;
  line-height: 16px;
}


/* Global styles or in your main CSS file */
.hover-bg-primary-dark {
  transition-property: #ff4;
  transition-duration: 300ms;
}

.hover-bg-primary-dark:hover {
  background-color: #33f; /* Change 'your-primary-dark-color' to your desired color value */
}
